
body {
    margin: 0;
    padding:0;
    background-color: black;
}
table {
    padding:0 1em;
background: radial-gradient(circle, rgba(241,237,239,1) 0%, rgba(154,156,158,1) 100%);
    width: 100%;
    color:rgb(34, 26, 26);
    font-family: 'Segoe UI', 'Tahoma', 'Verdana', 'sans-serif';
    text-align:center;
}
.title {
    font-size:2em;
    text-shadow: 3px 3px 3px blue;
}
tr {
    margin:0;
    padding:0;
}
td {
    width:2em;
    border-radius: 5px;
    text-align:center;
    line-height: 0.3;
    overflow: hidden;
}
td> .left, .left {
    text-align: left;
}
td:not(none):hover{
    transform: scale(2,2);
    transition:1s;
    color:white;
    text-shadow: 3px 2px 3px black;
}
.none {
    border:none;
}
.transitionMetal {
    background: rgb(70,252,216);
background: radial-gradient(circle, rgba(70,252,216,1) 0%, rgba(68,90,250,1) 100%);
}
.semiMetal {
    background: rgb(114,241,102);
background: radial-gradient(circle, rgba(114,241,102,1) 47%, rgba(9,77,6,1) 100%);
}
.Lanthanide {
    background: rgb(204,214,35);
background: radial-gradient(circle, rgba(204,214,35,1) 0%, rgba(7,112,7,1) 100%);
}
.actinide {
    background: rgb(229,91,147);
background: radial-gradient(circle, rgba(229,91,147,1) 0%, rgba(247,0,0,1) 100%);
}
.gas {
    background: rgb(229,251,0);
background: radial-gradient(circle, rgba(229,251,0,1) 47%, rgba(240,172,115,0.7847514005602241) 100%);
}
.alkaliMetal {
    background: rgb(236,120,187);
    background: radial-gradient(circle, rgba(236,120,187,1) 0%, rgba(112,7,7,1) 100%);
}
.alkalineMetal {
    background: rgb(252,70,187);
background: radial-gradient(circle, rgba(252,70,187,1) 0%, rgba(76,7,112,1) 100%);
}
.basicMetal {
    background: rgb(249,177,19);
background: radial-gradient(circle, rgba(249,177,19,1) 46%, rgba(247,0,0,1) 100%);
}
.nonmetal {
    background: rgb(246,230,239);
background: radial-gradient(circle, rgba(246,230,239,1) 0%, rgba(7,112,111,1) 100%);
}
.hallogen {
    background: rgb(229,251,0);
    background: radial-gradient(circle, rgba(229,251,0,1) 47%, rgba(192,88,2,1) 100%);
}
.container {
    background: rgb(221,202,47);
background: linear-gradient(0deg, rgba(221,202,47,1) 2%, rgba(4,250,235,1) 100%);
    width:4em;
    height:5em;
    padding:2rem;
    position: absolute;
    top:3em;
    left:14em;
    text-align: center;
    line-height: 1;
    border: 2px outset black;
    border-radius:10px;
    box-shadow: 10px 10px 5px gray;
}
.letter{
    margin: -10rem;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    padding:0;
    display: inline;
}
.number{
    visibility: hidden;
    font-size: smaller;
}
.symbol {
    font-size: 1em;
    font-weight: 900;
}
.name {
    visibility: hidden;
    margin:-5px;
    line-height: -3px;
    font-weight: 600;
    font-size: smaller;
}
.mass{
    visibility:hidden;
    font-size: smaller;
}
.num {
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0em;
    left: 1em;
}
.nam{
    position: absolute;
    top:4em;
    left: 2em;
}
.mas{
    position: absolute;
    top:5em;
    left: 3em;
}
.symbo {
    position: absolute;
    left:8em;
    top:2em;
}
td:hover .number {
    visibility: visible;
}
td:hover .name {
    visibility: visible;
    font-size: 10px;
}
td:hover .mass {
    visibility: visible;
}


a{
    color:rgb(34, 26, 26);
    text-decoration: none;
}
a:visited{
    color:rgb(34, 26, 26);
    text-decoration: none;
}
a:hover {
    color:white;
}
@keyframes example {
    from{top:0px;}
    to{top:200px;}
}
#lanthanide{
    pointer-events: none;
}
#actinide{
    pointer-events: none;
}